body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}
header {
    background-color: #F39A9D;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 100px;
    margin-top: -72px;
}
header a{
    grid-column: 1/2;
    grid-row: 1/2;
}
nav{
    display: flex;
    color: white;
    align-content: center;
}
nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: #1B4965;
    margin: auto 40px;
}
nav a:hover{
    background-color: #1B4965;
    color: white;
}
img{
    max-width: 100%;
}